/* matthew raupp - interaction 2 - project 1 */

/* ----- global styles -----  */


* {
    padding: 0;
    margin: 0;
}

/*uncommentting this rule forces all divs to temp have a border*/
/*div {border: red solid thin;}*/

#wrapper {
    width: 350px;
    margin: auto;
}

img {
    margin-left: 25px;
    ;
}

/* ----- project index page styles ----- */
/*index*/
h1 {

    font-family: vollkorn, serif;

    font-weight: 700;

    font-style: italic;

    font-size: 8vw;
}

h2 {


    font-family: vollkorn, serif;

    font-weight: 100;

    font-size: 12pt;
}

h3 {

    font-family: vollkorn, serif;

    font-weight: 700;

    font-style: italic;
    font-size: 19pt;
}

p {

    font-family: vollkorn, serif;

    font-weight: 100;

    font-size: 8pt;
}

ul {

    font-family: vollkorn, serif;

    font-weight: 200;

    font-size: 10pt;
}

a {
    color: #d32531;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ----- type legibility Pre ----- */
#template1 {
    background-color: pink;
    position: fixed;
}

type1title {

    font-family: abril-fatface, serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.2pt;
    font-size: 36pt;
    margin-top: 190px;
    padding-left: 32px;
    position: absolute;
    z-index: 1;
    color: black;
}



type1subhead {
    font-family: vollkorn, serif;
    font-size: 14pt;
    margin-top: 366px;
    margin-left: 84px;
    margin-right: 48px;
    background-color: yellow;
    position: fixed;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 8px;
    padding-bottom: 10px;
    z-index: 100;
    width: 250px;

}

/* ----- type legibility ----- */


/* ----- type ascii ----- */
.type2callout {
    font-family: acumin pro condensed;
    font-weight: 700;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 40pt;
    color: #262223;

}

.ascii {
    font-family: acumin-pro;
    position: fixed;
    margin-top: 60px;
    margin-left: 8px;
    font-size: 50pt;
    color: #BFBFBF;
    z-index: -1;
}

.ascii:hover {
    margin-left: 48px;
    transition: 3s;
}

#template2 {
    background-color: #F2F2F2;
    width: 350px;
    height: 350px;
    border: 1px solid grey;
    position: absolute;
    /* vertical center */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



type2title,
type2callout,
li {
    color: #262223;
}

/* ----- type webfont ----- */
.quotep3 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    font-family: vollkorn, serif;
    font-weight: 700;
    font-size: 20pt;
}




.namep3 {
    margin-left: 38pt;
    font-family: vollkorn, serif;
    margin-top: 5px;
}




.bodyp3 {
    opacity: 45%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5pt;
    font-size: 11pt
}

#template3 {
    background-color: #D92D07;
    position: fixed;
    z-index: -1;

}

type3title {
    font-family: abril-fatface, serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.2pt;
    font-size: 46pt;
    color: #F2B749;
    line-height: 55px;
    margin-top: 170px;
    position: absolute;
    margin-left: 5px;
}

type3title:hover {
    transform: skewX(-2deg);
    transition: 5s;
}

.type3subhead {
    font-family: vollkorn, serif;
    font-size: 16pt;
    padding-left: 480px;
    background-color: yellow;

}

type3p {
    font-family: vollkorn, serif;
    font-size: 12pt;
}

.type3callout {
    font-family: abril-fatface, serif;
    font-weight: 400;
    font-style: italic;

}

/* ----- image transparency ----- */
#template4 {
    background-color: #A0D9D9;
    position: fixed;
    z-index: -1;
    position: absolute;

}

.transparentimage {
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    margin-top: 75px;
    margin-left: 45px;
}

titletransparent {
    color: #F25041;
    font-size: 40pt;
    position: fixed;
    opacity: .7;
    font-family: gin;
    margin-top: 200px;
    z-index: 2;
    margin-left: 25px;
    line-height: 68px;
}

subheadtransparent {
    position: fixed;
    color: darkblue;
    font-family: acumin pro condensed;
    font-weight: 600;
    margin-top: 400px;
    font-size: 30pt;
    margin-left: 20px;
    opacity: .5;
}

.around {
    font-size: 80pt;
    margin-left: 20px;
}

.around:hover {
    font-style: italic;
    transition: 1s;
}

/* ----- image reveal ----- */
#template5 {
    background-color: #A65D03;
    z-index: -1;
    position: absolute;
    font-family: hobeaux;
}

textPath {
    font-family: hobeaux;
    font-size: 80pt;
}

text {
    fill: #BF7E04;
    font-family: hobeaux;
    position: fixed;
    margin-top: 400px;
    font-size: 80pt;
    z-index: 2;
}

textreveal {
    color: #BF7E04;
    font-family: hobeaux;
    position: fixed;
    margin-top: 400px;
    font-size: 70pt;
    z-index: 2;
}

.imgreveal {
    margin-left: 60px;
    margin-top: 255px;
    position: fixed;
    opacity: 0;
}

.imgreveal:hover {
    opacity: 1;
    transition: .5s;
    margin-top: 240px;

}

path {
    fill: transparent;
}

/* ----- image repetition ----- */

#template6 {
    color: aliceblue;
}


/* ----- color gradation ----- */
#template7 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #73020C, #F2B749, #F27507, #FFDC18, #D92D07);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }
}

goodtimes {
    color: white;
    font-family: hobeaux;
    position: fixed;
    font-size: 70pt;
    z-index: 2;
    align-content: center;
    text-align: center;
    margin-top: 25px;
}

/* ----- color animation  ----- */
@keyframes example {
    from {
        background-color: maroon;
    }

    to {
        background-color: yellow;
    }
}

#template8 {
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 4s;
    background-color: #F27507;

}

subheadanimation {
    font-family: amador;
    font-size: 60pt;
    z-index: 2;
    position: absolute;
    margin-top: 40px;
    margin-left: 15px;
    color: #F27507;
}


@keyframes example {
    from {
        background-color: #73020C;
    }

    to {
        background-color: #F27507;
    }
}


@keyframes example {
    from {
        background-color: #73020C;
    }

    to {
        background-color: #F27507;
    }
}

/* ----- color rgba ----- */
#template9 {
    position: absolute;
    background-color: #262526;
    background-image:
        -moz-linear-gradient(45deg, #000 25%, transparent 25%),
        -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
        -moz-linear-gradient(45deg, transparent 75%, #000 75%),
        -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    -webkit-background-size: 100px 101px;
    z-index: -20;
}

.goldhands {
    margin-top: 220px;
    margin-left: 18px;
    z-index: 0;
    position: fixed;
    opacity: .6;
}

subheadrgba,
subsubheadrgba {
    font-family: amador;
    font-size: 50pt;
    z-index: 2;
    position: absolute;
    margin-top: 200px;
    margin-left: 25px;
}

subheadrgba {
    color: rgba(200, 10, 0, 1);
    margin-top: 170px;
    margin-left: 32px;

}

subsubheadrgba {
    position: absolute;
    margin-top: 370px;
    font-size: 60pt;
    color: rgba(300, 184, 4, 2);
}

/* ----- space positioning ----- */
#template10 {
    position: absolute;
    background: rgba(200, 10, 0, 1);
}

heart-shape {
    color: white;
    margin-top: 160px;
    margin-left: 170px;
    position: absolute;
    font-family: monospace;
    font-weight: 600;
    font-size: 12pt;
    letter-spacing: -20px;
    animation-name: heartshape;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes heartshape {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.30)
    }
}

/* ----- space z-index ----- */

#template11 {
    position: fixed;
    color: lavender;
}



missyou {
    color: #F25041;
    font-size: 67pt;
    position: fixed;
    font-family: gin;
    margin-top: 250px;
    z-index: 2;
    margin-left: 17px;
    line-height: 68px;

}

missyousubhead {
    color: #F25041;
    font-size: 15pt;
    position: fixed;
    font-family: gin;
    margin-top: -65px;
    z-index: 3;
    margin-left: 133px;
    line-height: 220px;
}

.vintagebicycle {
    opacity: .4;
    z-index: 0;
}

.vintagebicycle2 {
    opacity: .1;
    z-index: 0;
    margin-top: -100px;
    margin-left: 70px;
}

/* ----- space zoom ----- */

#template12 {
    position: absolute;
    font-family: gin;
    font-size: 22pt;
    color: antiquewhite;
    background-color: red;
    text-align: center;
    line-height: 6.6;
    margin-top: -29px;
}

text {
    position: absolute;
    font-family: gin;
    font-size: 22pt;
    color: antiquewhite;
    text-align: center;
    line-height: 99px;
    margin-top: -75px;
    margin-left: 35px;
}

.img-magnifier-container {

    margin-top: 30vh;
    position: relative;
    opacity: .8;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 80px;
    height: 80px;
}

dot {
    position: fixed;
    margin-top: 190px;
    margin-left: -15px;
}

/* ----- youtube rhythm ----- */
.youtuberhythm {
    position: fixed;
    margin-top: 140px;
    margin-left: 35px;
    opacity: .3;
    animation-name: youtuberhythm;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-duration: 10s;
    line-height: 55px;

}

@keyframes youtuberhythm {
    from {
        z-index: 4;
    }

    to {
        z-index: 4;
        opacity: 1;
        width: 350px;
        height: 220px;
        margin-left: 0px;

    }
}

#template13 {
    position: fixed;
    background-color: #0F0F0F;
}

creepy {
    text-align: center;
    position: fixed;
    margin-left: 35px;
    width: 280px;
    margin-top: 30px;
    color: ghostwhite;
    font-family: omnes-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20pt;
    letter-spacing: 5px;
    z-index: 2;


}

.wife {
    font-size: 12pt;

}

.there {
    font-size: 60pt;
}

/* ----- map personality ----- */
#template14 {
    position: fixed;
}

pay {
    font-family: gin;
    font-size: 26pt;
    z-index: 2;
    position: fixed;
    font-size: 36pt;
    text-align: center;
    margin-top: 180px;
    color: #DD4B3E;
}

pay:hover {
    margin-top: 230px;
    transition: 10s;
}

/* ----- gif meme ----- */
#template15 {
    position: fixed;
    background-color: black;
}

.come {
    margin-top: 40px;
    margin-left: -40px;
    opacity: .6;
    z-index: 1;
}

fullnight {
    color: red;
    font-family: omnes-pro, sans-serif;
    font-size: 40pt;
    position: fixed;
    width: 250px;
    margin-left: 180px;
    margin-top: 40px;
    animation-name: fullnight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    line-height: 55px;
    z-index: 4;
}

@keyframes fullnight {
    from {
        letter-spacing: 0px;
        opacity: 1;
    }

    to {
        letter-spacing: 6px;
        opacity: .2;
    }

}

/* ----- gif loop ----- */
#template16 {
    position: fixed;
    background-color: black;
}

.walking {
    margin-top: 20px;
    animation-name: walk;
    animation-duration: 8s;
    position: fixed;
    animation-iteration-count: infinite;
    z-index: 5;
}

goodbye {
    z-index: 2;
    position: fixed;
    margin-top: 200px;
    font-size: 59pt;
    font-family: amador;
    text-align: center;
    margin-left: 22px;
}

/* ----- nested iframes ----- */
#template17 {
    position: fixed;
    background-color: black;
}

.depot {
    margin-top: 100px;
}

prepare {
    position: fixed;
    color: aliceblue;
    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 13px;
    font-size: 12pt;
    transition: 1s;
    margin-left: 28px;
    text-align: center;
    margin-top: 30px;
}

prepare:hover {
    letter-spacing: 1px;


}

/* ----- gif recursive ----- */
#template18 {
    position: fixed;
    background-color: black;
    overflow: scroll;
}

recursive {
    font-family: helvetica;
    position: fixed;
    color: white;
    font-weight: 100;
    width: 300px;
    margin-left: 145px;
    font-size: 16pt;
    margin-top: 90pt;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-name: recursive;
}

@keyframes recursive {
    from {
        font-size: 15pt;
        font-weight: 100;
    }

    to {
        font-size: 16pt;
        font-weight: 600;
    }
}


/* ----- videotype ----- */
#template19 {
    position: fixed;
    background-color: ;
    overflow: scroll;
}

text {
    position: fixed;
    z-index: 4;
    color: lightblue;
    margin-top: 20px;
    font-size: 26pt;
    font-family: acumin pro condensed;
    font-weight: 600;
}

/* ----- videotype ----- */
#template20 {
    position: fixed;
    background-color: aliceblue;
    overflow: scroll;

}

.griditem1,
.grid-item2,
.grid-item3 {
    position: absolute;
    display: inline-block;
    margin-top: 120px;
    scroll-behavior: smooth;

}

.grid-item2 {
    margin-left: 360px;
}

.grid-item3 {
    margin-left: 720px;
}

here {
    position: fixed;
    font-family: omnes-pro, sans-serif;
    font-weight: 100;
    margin-top: 200px;
    margin-left: 24px;
    font-size: 16pt;
}

.linkback,
.linkforward,
.linkforward1 {
    position: absolute;
    margin-top: 200px;
    color: aliceblue;
    z-index: 4;
    font-size: 30pt;
    text-decoration: none;
    text-underline-position: left;
}

.linkback {
    margin-left: 370px;
    letter-spacing: 340px;
}

.linkforward {
    margin-left: 320px;


}

.linkforward1 {
    margin-left: 680px;
}

/* ----- project index page styles ----- */

#index {
    background-color: ghostwhite;
}

#index #wrapper {
    width: 50%;
    height: 100vh;
    padding: 50px;
}

#index #title,
ul {
    padding-bottom: 30px;
}

#index ul li {
    list-style: decimal-leading-zero
}

/* ----- video direction ----- */
#template21 {
    position: fixed;
    background-color: black;
    overflow: scroll;
}

.direct {
    position: fixed;
}

direction {
    position: fixed;
    margin-top: 290px;
    color: red;
    width: 300px;
    margin-left: 25px;
    font-size: 14pt;
    font-style: italic;
    font-family: acumin-pro;
    z-index: 4;

}

/* ----- music generation ----- */
#template22 {
    position: fixed;
    background-color: #F4B400;
    overflow: scroll;

}

.musicgen {
    margin-top: 110px;
}

the {
    font-size: 12pt;
    width: 600px;
    position: absolute;
    font-family: acumin-pro;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 15px;
    color: white;

}

/* ----- sound voice ----- */
#template23 {
    position: fixed;
    background-color: black;

    width: 350px;

}

please {
    font-family: omnes-pro, sans-serif;
    font-weight: 100;
    animation-name: please;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 50px;
    color: white;
    margin-left: 20px;
}

please2 {
    font-family: omnes-pro, sans-serif;
    font-size: 6pt;
    font-weight: 100;
    position: fixed;
    color: red;
    animation-name: please2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 100px;
    margin-left: 160px;
}

.pleases {
    position: fixed;
    margin-top: 180px;
    margin-left: 25px;
}

@keyframes please {
    from {
        letter-spacing: 3px;
        text-align: center;
    }

    to {
        letter-spacing: 14px;
        text-align: center;
    }
}

@keyframes please2 {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(2.50)
    }
}

/* ----- sound loops ----- */
#template24 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
}

loops,
loops2 {
    margin-top: 0px;
    width: 2320px;
    position: absolute;
    font-family: acumin pro;
    animation-name: loops;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    font-size: 18pt;
    position: fixed;
    height: 40px;
    padding-top: 10px;
}

loops2 {
    margin-top: 200px;
}

.loop {
    margin-left: 25px;

}

@keyframes loops {
    from {
        background-color: white;
        margin-left: 12px;
    }

    to {
        background-color: red;
        margin-left: -1112px;
    }
}

/* ----- fade out ----- */
#template25 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
    background-color: black;
}

.light {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: #D18000;
    box-shadow: 0 0 45px 52px #D18000;
    margin-top: 128px;
    margin-left: 84px;
    position: fixed;
    opacity: 0;
    position: fixed;
    animation: lightout 4s infinite;
    animation-delay: 1s;
}

.lightfade {
    position: fixed;
    z-index: 2;
    margin-top: 60px;
    margin-left: 60px;

}

fadeout {
    color: aliceblue;
    font-family: gin;
    font-size: 12pt;
    margin-left: 196px;
    margin-top: 220px;
    letter-spacing: 4px;
    position: fixed;
}

@keyframes lightout {
    0% {
        opacity: 90%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fadeout {
    0% {
        opacity: 60%;
    }

    100% {
        opacity: 0%;
    }
}


/* ----- fade to ----- */
#template26 {
    position: fixed;
    overflow: scroll;
    align-content: center;
    background-color: black;
}

#color {
    background-color: blue;
    position: fixed;
    opacity: .6;
    z-index: 1;
    animation: fadetocolor 7s infinite;
}

@keyframes fadetocolor {
    0% {
        background-color: red;
    }

    10% {
        background-color: blue;
    }

    20% {
        background-color: red;
    }

    30% {
        background-color: blue;
    }

    40% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    60% {
        background-color: red;
    }

    70% {
        background-color: blue;
    }

    90% {
        background-color: blue:
    }

    100% {
        background-color: red;
    }
}

original {
    color: white;
    position: fixed;
    margin-top: 290px;
    margin-left: 100px;
    font-family: amador;
    font-size: 15pt;
    z-index: 2;
}

.edison {
    position: fixed;
    z-index: 0;
    margin-left: 0px;
}

/* ----- fade in ----- */
#template27 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
    background: #07038C;
}

.lightin {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #F20732;
    box-shadow: 0 0 295px 270px #F20732;
    margin-top: 340px;
    margin-left: 195px;
    position: fixed;
    animation-name: lightin;
    animation-duration: 2s;
    opacity: .6;
    z-index: 2
}

@keyframes lightin {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 60%;
    }
}

.bulbin {
    position: fixed;
    z-index: 2;
    opacity: .8;
}

softlight {
    color: #F20732;
    font-family: acumin pro condensed;
    font-weight: 600;
    font-size: 76pt;
    line-height: 60px;
    position: fixed;
    margin-top: 200px;
    z-index: 1;
    margin-left: 5pt;
}

/* ----- delay ----- */
#template28 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
    background-color: yellow;
}

.cord {
    background-color: #022859;
    width: 2px;
    height: 200px;
    position: fixed;
    margin-left: 90px;
    animation-name: cord;
    animation-duration: 3s;

}

delay {
    font-family: vollkorn, serif;
    position: fixed;
    margin-left: 140px;
    line-height: 250px;
    animation: 6s;
    animation-name: delay;
    animation-delay: 3s;
}

@keyframes delay {
    0% {
        margin-top: 0px;
    }

    30% {
        margin-top: -260px;
    }

    40% {
        margin-top: -260px;
    }

    60% {
        margin-top: -500px;
    }

    70% {
        margin-top: -500px;
    }

    100% {
        margin-top: -750px;
    }
}

.lightdelay {
    margin-left: 76px;
    margin-top: 200px;
    animation-name: blub;
    animation-duration: 3s;
    position: fixed;

}

@keyframes blub {
    0% {
        margin-top: -80px;
    }

    100% {
        margin-top: 200px;
    }
}

@keyframes cord {
    0% {
        margin-top: -280px;
    }

    10% {
        background-color: #022859;
    }

    20% {
        background-color: #D90404;
    }

    30% {
        background-color: #022859;
    }

    40% {
        background-color: #D90404;
    }

    50% {
        background-color: #022859;
    }

    60% {
        background-color: #D90404;
    }

    70% {
        background-color: #022859;
    }

    80% {
        background-color: #D90404;
    }

    100% {
        margin-top: 0px;
    }
}


/* ----- scale ----- */
#template29 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
}

.buzzlight {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #F20732;
    box-shadow: 0 0 45px 60px #F20732;
    position: fixed;
    z-index: 4;
    margin-top: 100px;
    margin-left: 170px;
    animation: buzz 1s infinite;

}

.scale {
    position: fixed;
    margin-left: 0;
    z-index: 1;
}

@keyframes buzz {
    0% {
        transform: scale(1);
        opacity: 66%;
    }

    50% {
        transform: scale(1.1);
        opacity: 80%;
    }

    100% {
        transform: scale(1);
        opacity: 70%;
    }
}

mercury,
mercury2 {
    position: fixed;
    z-index: 3;
    font-family: gin;
    margin-top: 163px;
    margin-left: 15px;
    font-size: 24pt;
    line-height: 36px;
    color: white;
    animation: buzz 1s infinite;
}

mercury2 {
    margin-left: 215px;
}

.blow {
    font-size: 38pt;

}

/* ----- string ----- */
#template30 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
    background: black;
}

.stringimg {
    position: fixed;
    margin-top: -70px;
}

#hide {
    margin-top: 20px;
    margin-left: 90px;
}
#show {
    margin-left: -95px;
}

.stringoff {
    margin-left: 10px;
}



/* ----- subtle ----- */
#template31 {
    position: fixed;
    background-color: ;
    overflow: scroll;
    align-content: center;
    background-color:#F20732; 
}
.charlie {
    position: fixed; 
    margin-top: 50px;
    margin-left: 130px;
    z-index: 1;
}

.thought {
    position:fixed;
    margin-left: 50px;
    margin-top: -30px;
    z-index: 0;
}
button {
    background-color: blue;
    font-family: helvetica;
    color: white;
    margin-left: 60px;
    margin-top: 240px;
    font-weight: 600;
    font-size: 18px;
    position:relative;
    padding: 1px 10px 3px 10px;

}
/* ----- intense ----- */
#template32 {
    background-color: black;
    display: inline-block;
    width: 1920px;
    height: 600px;
    color: white;
    position: fixed;
}
#follower{
    position: absolute;
    float: right;
}
.lightdrag{
    width: 1px;
    height: 1px;
    border-radius: 50px;
    background-color: #F20732;
    box-shadow: 0 0 40px 30px #F20732;
    position: fixed;
    margin-top: 60px;
    margin-left: 50px;

}
reveal {
    position: fixed;
    color: black;
    font-size: 40pt;
    font-family: helvetica;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 50px;
    
}

/* ----- chaotic ----- */
#template33 {
    position: fixed;
    background-color: ;
    overflow: hidden;
    align-content: center;
    background-color: lavender;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.decorate {
    z-index: 2;
    position: fixed;
    margin-top: 298px;
    margin-left: 20px;
    font-size: 20pt;
    font-family: font-family: vollkorn, serif;
    font-weight: 600;
    
    
}
.tangled {
    position: fixed;
    margin-top: -100px;
    z-index: 0;
    margin-left: -300px;
     animation: rotate 16s linear infinite;
}
.chand {
    position:fixed;
    margin-top: -280px;
     animation: rotate 16s linear infinite;
    
}
.plug{
    position: fixed;
    margin-top: 150px;
    margin-left: -160px;
    z-index: 1;
     animation: rotate 6s linear infinite;
}

/* -----  project template  ----- */
#color,
#template,
#template1,
#template2,
#template3,
#template4,
#template5,
#template6,
#template7,
#template8,
#template9,
#template10,
#template11,
#template12,
#template13,
#template14,
#template15,
#template16,
#template17,
#template18,
#template19,
#template20,
#template21,
#template22,
#template23,
#template24,
#template25,
#template26,
#template27,
#template28,
#template29,
#template30,
#template31,
#template32,
#template33 {
    width: 350px;
    height: 350px;
    border: 1px solid grey;

    /* vertical center */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ----- project typelegibility page styles ----- */

span {
    font-style: normal;
    font-weight: 100;
    letter-spacing: 5px;

}


/* -----  week 2 styles  ----- */
